/*
Table of Contents
****** FONTS ******
****** VARIABLES ******
****** RESET ******
****** LAYOUT ******
****** DESIGN ******
*** LAYOUT - mobile ***
*** DESIGN - mobile ***
*/




/**************************************************************/
/*                    ****** FONTS ******                     */
/**************************************************************/



/**************************************************************/
/*                  ****** VARIABLES ******                   */
/**************************************************************/

:root {

}


/**************************************************************/
/*                    ****** RESET ******                     */
/**************************************************************/

* {
    padding: 0;
    margin: 0;
    font-size: 100%;
}

/**************************************************************/
/*                    ****** LAYOUT ******                    */
/**************************************************************/



/**************************************************************/
/*                    ****** DESIGN ******                    */
/**************************************************************/


/*           *** LAYOUT - mobile ***           */
/***********************************************/

@media only screen and (max-width: 460px) {

    body {
        grid-template-rows: 1fr;
    }

    header {
        height: auto;
    }

    header p {
        width: 80%;
    }

    main {
        display: flex;
        flex-direction: column;
        padding: 0 8%;
    }

    .box {
        width: 100%;
        align-self: center;
    }

    footer {
        position: static;
    }
}

/*           *** DESIGN - mobile ***           */
/***********************************************/

@media only screen and (max-width: 460px) {
}