/*
Table of Contents
****** FONTS ******
****** VARIABLES ******
****** RESET ******
****** LAYOUT ******
****** DESIGN ******
*** LAYOUT - mobile ***
*** DESIGN - mobile ***
*/




/**************************************************************/
/*                    ****** FONTS ******                     */
/**************************************************************/



/**************************************************************/
/*                  ****** VARIABLES ******                   */
/**************************************************************/

:root {

}


/**************************************************************/
/*                    ****** RESET ******                     */
/**************************************************************/

* {
    padding: 0;
    margin: 0;
    font-size: 100%;
}

/**************************************************************/
/*                    ****** LAYOUT ******                    */
/**************************************************************/

body {
    height: 100vh;
    height: 100svh;
    display: grid;
    grid-template-columns: 45.83% 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "header rating-container"
        "user-comment-container user-comment-container";
}

header {
    background-color: lightcoral;
    grid-area: header;
}


.rating-container {
    background-color: lightgreen;
    grid-area: rating-container;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    height: 51.89%;
    position: relative; 
    top: 37.18%;
    left: 5.13%;
}

.rating-row {
    display: flex;
    width: 81.5%;
    height: 28.5%;
}

.rating-row p {
    right: 0;
    bottom: 0;
}

.user-comment-container {
    background-color: lightblue;
    grid-area: user-comment-container;
}


/**************************************************************/
/*                    ****** DESIGN ******                    */
/**************************************************************/


/*           *** LAYOUT - mobile ***           */
/***********************************************/

@media only screen and (max-width: 460px) {
}

/*           *** DESIGN - mobile ***           */
/***********************************************/

@media only screen and (max-width: 460px) {
}