/*
Table of Contents
****** FONTS ******
****** VARIABLES ******
****** RESET ******
****** LAYOUT ******
****** DESIGN ******
*** LAYOUT - mobile ***
*** DESIGN - mobile ***
*/




/**************************************************************/
/*                    ****** FONTS ******                     */
/**************************************************************/



/**************************************************************/
/*                  ****** VARIABLES ******                   */
/**************************************************************/

:root {

}


/**************************************************************/
/*                    ****** RESET ******                     */
/**************************************************************/

* {
    padding: 0;
    margin: 0;
    font-size: 100%;
}

/**************************************************************/
/*                    ****** LAYOUT ******                    */
/**************************************************************/

/*       *** GLOBAL ***       */
/******************************/

body {
    height: 100vh;
    height: 100svh;
    display: grid;
    grid-template-columns: 45.83% 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "header rating-container"
        "user-comment-container user-comment-container";
}

/*       *** HEADER ***       */
/******************************/

header {
    background-color: lightcoral;
    grid-area: header;
}

/*       *** RATING-SECTION ***       */
/**************************************/


.rating-container {
    background-color: lightgreen;
    grid-area: rating-container;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    height: 51.89%;
    position: relative; 
    top: 37.18%;
    left: 5.13%;
}

.rating-container * {
    border: 1px solid red;
}

.rating-row {
    display: flex;
    width: 81.5%;
    height: 28.5%;
}

.rating-row p {
    right: 0;
    bottom: 0;
}

/*       *** COMMENTS-SECTION ***       */
/****************************************/

.user-comment-container {
    background-color: lightblue;
    grid-area: user-comment-container;
    width: 77%;
    height: 65.85%;
    position: relative;
    top: 9.75%;
    left: 11.39%;
    display: flex;
    justify-content: space-between;
}

.user-comment {
    width: 31.52%;
}

.user {
    display: flex;
}

/*       *** FOOTER ***       */
/******************************/

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
}



/**************************************************************/
/*                    ****** DESIGN ******                    */
/**************************************************************/


/*           *** LAYOUT - mobile ***           */
/***********************************************/

@media only screen and (max-width: 460px) {
    body {
        display: flex;
        flex-direction: column;
    }

    .rating-container {
        width: 100%;
        position: static;
    }

    .user-comment-container {
        width: 100%;
        position: static;
        flex-direction: column;
        height: auto;
    }

    footer {
        position: static;
    }
}

/*           *** DESIGN - mobile ***           */
/***********************************************/

@media only screen and (max-width: 460px) {
}